
*.exe
*.obj
c++/trivialoader/.vs/ProjectSettings.json
c++/trivialoader/.vs/slnx.sqlite
c++/trivialoader/.vs/trivialoader/FileContentIndex/2899354e-5d43-4a10-ba97-40646a763460.vsidx
c++/trivialoader/.vs/trivialoader/v17/.wsuo
c++/trivialoader/.vs/trivialoader/v17/Browse.VC.db
c++/trivialoader/.vs/VSWorkspaceState.json
.vscode/settings.json
csharp/pooploader/.vs/pooploader/v16/.suo
csharp/pooploader/.vs/slnx.sqlite
csharp/pooploader/bin/Debug/pooploader.exe.config
csharp/pooploader/bin/Debug/pooploader.pdb
csharp/pooploader/bin/x64/Release/poop.zip
csharp/pooploader/bin/x64/Release/pooploader.exe.config
csharp/pooploader/bin/x64/Release/pooploader.pdb
csharp/pooploader/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/Debug/pooploader.csproj.FileListAbsolute.txt
csharp/pooploader/obj/Debug/pooploader.pdb
csharp/pooploader/obj/Debug/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/Debug/pooploader.csproj.CoreCompileInputs.cache
csharp/pooploader/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/Release/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/x64/Release/pooploader.csproj.CoreCompileInputs.cache
csharp/pooploader/obj/x64/Release/pooploader.csproj.FileListAbsolute.txt
csharp/pooploader/obj/x64/Release/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/x64/Release/pooploader.pdb
csharp/pooploader/shellcode-45-223--443.cs
csharp/pooploader/App.config
rust/horizon/target/.rustc_info.json
rust/horizon/target/CACHEDIR.TAG
rust/horizon/target/debug/.cargo-lock
rust/horizon/target/debug/.fingerprint/horizon-5daf1d0726f3345f/bin-horizon
rust/horizon/target/debug/.fingerprint/horizon-5daf1d0726f3345f/bin-horizon.json
rust/horizon/target/debug/.fingerprint/horizon-5daf1d0726f3345f/dep-bin-horizon
rust/horizon/target/debug/.fingerprint/horizon-5daf1d0726f3345f/invoked.timestamp
rust/horizon/target/debug/deps/horizon.d
rust/horizon/target/debug/deps/horizon.pdb
rust/horizon/target/debug/horizon.d
rust/horizon/target/debug/horizon.pdb
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/1iqa8vmkikatpj8n.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/209kcc4f713711g6.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/2ft95ie4lmqkc615.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/3m7j3doplzm68w7k.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/4xeu50giioxc6v5d.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/5dmim3dk3803xw4e.o
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/dep-graph.bin
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/query-cache.bin
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk-4lr5qcelg9wmgjtwpkss8uddy/work-products.bin
rust/horizon/target/debug/incremental/horizon-2eg7kkq8y0men/s-gr3mcsn8ne-1kxthtk.lock
.vscode/launch.json
.vscode/c_cpp_properties.json
