
*.exe
*.obj
c++/trivialoader/.vs/ProjectSettings.json
c++/trivialoader/.vs/slnx.sqlite
c++/trivialoader/.vs/trivialoader/FileContentIndex/2899354e-5d43-4a10-ba97-40646a763460.vsidx
c++/trivialoader/.vs/trivialoader/v17/.wsuo
c++/trivialoader/.vs/trivialoader/v17/Browse.VC.db
c++/trivialoader/.vs/VSWorkspaceState.json
.vscode/settings.json
csharp/pooploader/.vs/pooploader/v16/.suo
csharp/pooploader/.vs/slnx.sqlite
csharp/pooploader/bin/Debug/pooploader.exe.config
csharp/pooploader/bin/Debug/pooploader.pdb
csharp/pooploader/bin/x64/Release/poop.zip
csharp/pooploader/bin/x64/Release/pooploader.exe.config
csharp/pooploader/bin/x64/Release/pooploader.pdb
csharp/pooploader/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/Debug/pooploader.csproj.FileListAbsolute.txt
csharp/pooploader/obj/Debug/pooploader.pdb
csharp/pooploader/obj/Debug/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/Debug/pooploader.csproj.CoreCompileInputs.cache
csharp/pooploader/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/Release/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
csharp/pooploader/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
csharp/pooploader/obj/x64/Release/pooploader.csproj.CoreCompileInputs.cache
csharp/pooploader/obj/x64/Release/pooploader.csproj.FileListAbsolute.txt
csharp/pooploader/obj/x64/Release/pooploader.csprojAssemblyReference.cache
csharp/pooploader/obj/x64/Release/pooploader.pdb
csharp/pooploader/shellcode-45-223--443.cs
csharp/pooploader/App.config
